### `PYTHON'S DATETIME MODULE`

In [1]:
import pandas as pd
import datetime as dt

In [11]:
today=dt.date(2020 ,5,5)
print(today)
today.year

2020-05-05

2020

In [13]:
today=dt.datetime(2020,5,5,12,34,45)
print(today)
today.second

2020-05-05 12:34:45

45

###   `TIME_STAMP`--- Pandas datetime

In [36]:
pd.Timestamp("2020-11-23")
pd.Timestamp("2020/11/23")
pd.Timestamp("2020 11 23  12:23:34 PM")
pd.Timestamp(today)

Timestamp('2020-05-05 12:34:45')

### `DATE_TIME_INDEX`--- Converts a list of dates to pandas datetime index

In [27]:
dates=['2020-12-23','2020-11-23','2020-10-23']
dates_index=pd.DatetimeIndex(dates)
print(dates_index)

DatetimeIndex(['2020-12-23', '2020-11-23', '2020-10-23'], dtype='datetime64[ns]', freq=None)

In [28]:
dates=[dt.date(2020,12,23),dt.date(2020,11,23),dt.date(2020,10,23)]
dates_index=pd.DatetimeIndex(dates)
print(dates_index)

DatetimeIndex(['2020-12-23', '2020-11-23', '2020-10-23'], dtype='datetime64[ns]', freq=None)

In [30]:
values=[12,23,34]
pd.Series(data=values,index=dates_index)

2020-12-23    12
2020-11-23    23
2020-10-23    34
dtype: int64

### `pd.to_datetime( )`  --- Whatever format you give intelligently converts it into desired

In [31]:
pd.to_datetime('2020-12-23')

Timestamp('2020-12-23 00:00:00')

In [33]:
pd.to_datetime('Dec 23rd,2020')

Timestamp('2020-12-23 00:00:00')

In [35]:
pd.to_datetime(['2020-12-23','2020/11/23','2020,10,12'])

DatetimeIndex(['2020-12-23', '2020-11-23', '2020-12-01'], dtype='datetime64[ns]', freq=None)

In [44]:
s=pd.Series(data=["today is sunday","2020/12/11","December 23rd,2020","24th December 2012","Dec 12th,2020"])
pd.to_datetime(s,errors='coerce')

0          NaT
1   2020-12-11
2   2020-12-23
3   2012-12-24
4   2020-12-12
dtype: datetime64[ns]

---
* unixtime to datetime
---

In [49]:
unixtime=[100000000,453845,5670985,1223445]
pd.to_datetime(unixtime,unit='s')

DatetimeIndex(['1973-03-03 09:46:40', '1970-01-06 06:04:05',
               '1970-03-07 15:16:25', '1970-01-15 03:50:45'],
              dtype='datetime64[ns]', freq=None)

### `pd.date_range()`--- Create range in the form of date

In [64]:
pd.date_range(start="2020-11-12",end="2021-11-12",freq="A")

DatetimeIndex(['2020-12-31'], dtype='datetime64[ns]', freq='A-DEC')

### import stock data using `pandas_datareader`

In [73]:
from pandas_datareader import data

In [72]:
company='MSFT'
start='2020-1-1'
end='2020-12-22'

In [76]:
stocks=data.DataReader(name=company,data_source="yahoo",start=start,end=end)
stocks.head(10)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-31,157.770004,156.449997,156.770004,157.699997,18369400.0,156.833633
2020-01-02,160.729996,158.330002,158.779999,160.619995,22622100.0,159.737595
2020-01-03,159.949997,158.059998,158.320007,158.619995,21116200.0,157.748581
2020-01-06,159.100006,156.509995,157.080002,159.029999,20813700.0,158.156342
2020-01-07,159.669998,157.320007,159.320007,157.580002,21634100.0,156.714310
2020-01-08,160.800003,157.949997,158.929993,160.089996,27746500.0,159.210495
2020-01-09,162.220001,161.029999,161.839996,162.089996,21385000.0,161.199509
2020-01-10,163.220001,161.179993,162.820007,161.339996,20725900.0,160.453644
2020-01-13,163.309998,161.259995,161.759995,163.279999,21626500.0,162.382980
2020-01-14,163.600006,161.720001,163.389999,162.130005,23477400.0,161.239304

In [90]:
stocks.loc["2020-01-10"]

High         1.632200e+02
Low          1.611800e+02
Open         1.628200e+02
Close        1.613400e+02
Volume       2.072590e+07
Adj Close    1.604536e+02
Name: 2020-01-10 00:00:00, dtype: float64

In [92]:
pd.DataFrame(stocks.iloc[:90]).head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-31,157.770004,156.449997,156.770004,157.699997,18369400.0,156.833633
2020-01-02,160.729996,158.330002,158.779999,160.619995,22622100.0,159.737595
2020-01-03,159.949997,158.059998,158.320007,158.619995,21116200.0,157.748581
2020-01-06,159.100006,156.509995,157.080002,159.029999,20813700.0,158.156342
2020-01-07,159.669998,157.320007,159.320007,157.580002,21634100.0,156.714310

### `TIMEDELTA`--- Difference between two dates

In [98]:
a=pd.Timestamp("2020-11-12")
b=pd.Timestamp("2019-11-10")
a-b

Timedelta('368 days 00:00:00')

In [99]:
pd.Timedelta(weeks=10,days=2,hours=12,minutes=23)

Timedelta('72 days 12:23:00')